# MariaDB 10.3 RedHat repository list - created 2018-09-12 10:11 UTC
# http://downloads.mariadb.org/mariadb/repositories/
[mariadb]
name=MariaDB-{{ mariadb_version }}
baseurl={{ mariadb_repo_url }}
gpgcheck=0
enabled=1
